@media (min-width: 900px) {
    #menu {
        display: none;
    }

    nav {
        display:flex;
        background-color: var(--color2);
    }

    nav ul {
        display: flex;
        flex-wrap: nowrap;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}